@font-face {
  font-family: PrimaryFont;
  src: url(assets/fonts/Roboto-Thin.ttf);
}

body {
  font-family: PrimaryFont, "Helvetica", sans-serif;
  margin: 0;
  text-align: center;
  color: rgb(240, 223, 199);
  background-color: rgb(15, 0, 0);
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.p5-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.footer {
  position: fixed;
  padding: 0.5%;
  z-index: 100;
  width: 100%;
  bottom: 0px;
  /* background-color: rgb(15, 0, 0); */
}

.content {
  position: relative;
  z-index: 1;
  padding: 4%;
  margin-left: auto;
  margin-right: auto;
}

.text-content {
  position: relative;
  padding: 4%;
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
  z-index: 2;
}

.imprint_policy {
  position: relative;
  top: 50px;
  padding: 4%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  text-align: justify;
  max-width: 1000px;
  z-index: 2;

}

.youtube-iframe {
  border: 0;
  aspect-ratio: 16/9;
  border-radius: 1.5%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff00;
  color: #f0dfc7;
  padding: 10px;
  z-index: 1000; /* Ensure it's above other content */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #f0dfc7;
  text-decoration: none;
}

.links {
  color: rgb(156, 95, 37);
  text-decoration: none;

}