/* @font-face {
  font-family: PrimaryFont;
  src: url(assets/fonts/Roboto-Thin.ttf);
} */

body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  text-align: center;
  color: #ffffff;
  background-color: #00000000;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
}

.nav {
  color: #ffffff;
  background-color: #252525ad;

}

.nav-link {
  color: #ffffff;
}

.dropdown_nav {
  color: #ffffff;
  text-align: center;
}

.p5-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.footer {
  position: sticky;
  bottom: 0;
  padding: 0.5%;
  z-index: 100;
  width: 100%;
  background-color: rgba(28, 28, 28, 0.644);
}

.content {
  position: relative;
  margin-top: 45px;
  z-index: 1;
  padding: 4%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.text-content {
  min-height: 100vh;
  position: relative;
  margin-top: 45px;
  padding: 4%;
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
  z-index: 2;
}

.iframe {
  max-width: 600px;
  width: 100%;
  background-color: rgba(28, 28, 28, 0.644);
  color: rgb(255, 255, 255);
}

.imprint_policy {
  position: relative;
  top: 50px;
  padding: 4%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  text-align: justify;
  max-width: 1000px;
  z-index: 2;

}

.youtube-iframe {
  border: 0;
  aspect-ratio: 16/9;
  border-radius: 1.5%;
}

.links {
  color: rgb(156, 95, 37);
  text-decoration: none;
}

.links:hover {
  color: rgb(100, 86, 74);
}

.release {
  max-width: 500px;
  width: 100%;
  background-color: rgba(28, 28, 28, 0.644);
  color: rgb(255, 255, 255);
}